extends ../layout

block content
  div#wrapper
    include ../../includes/site_banner.jade
    div#content
      div.row
        div.banner
          div.welcome
            h2 Register New Plate
            if (userData.onlyPlate != "")
              div
                p Plate registered to this account: #{userData.onlyState} #{userData.onlyPlate}
            else 
              div.plate
               h2 No License Plate on File
          div.options
            include ../../includes/menu.jade
      div.rowTransparent
        div.col-40
          div.row
            h2 Register New License Plate
            if (userData.onlyPlate)
              div.plate
                p Current Plate: #{userData.onlyState} #{userData.onlyPlate.toUpperCase()}
            else 
              div.plate
               h2 No License Plate on File
          form.registerLPForm(action='/license_plate/' + userData._id + '/register_lp' method= 'post')
            div
              label(for='lpNumber') New License Plate Number:
              input(type='text' id='lpNumber' autocomplete="off" name='lpNumber' placeholder='No Dashes or Special Characters e.g 123XXX')
              p No Dashes or Special Characters e.g. 123XXX
            div.stateSelectContainer  
              include ../../includes/select_state.jade
            div
              input(type='submit' value='Submit' class='registerButton')
            div
              a(href='/license_plate/' + userData._id + '/user_home') Cancel
        if errorArray      
          div.col-40
            div.row
              h2 Errors
            ul.errorList
              for error in errorArray
                li= error 
