extends ../layout

block content
  div#wrapper
    include ../../includes/site_banner.jade
    div#content
      div.row
        div.banner
          div.welcome
            h2 Welcome #{userData.firstName} #{userData.lastName}!
            if (userData.onlyPlate != "")
              div.plate
                p Plate registered to this account: #{userData.onlyState} #{userData.onlyPlate}
            else 
              div.plate
               h2 No License Plate on File
          div.options
            include ../../includes/menu.jade
      div.rowTransparent
        div.col-40
          div.row
            h2 Sent Messages
          if (userData.sentMessagesLPM.length > 0)
            for message in userData.sentMessagesLPM  
              div.messageContainer
                form.messageDisplayForm(action='/license_plate/'+userData._id+'/delete_lpmessage' method='post')
                  -var date = new Date(message.date)
                  div.messageDisplayContainer
                    p.messageDisplayP #{message.toState} #{message.toPlate} 
                    p.messageDisplayP #{message.message} 
                    p.messageDisplayP #{date}
                  input(type='hidden' name='hiddenID' value=message.id)
                  div.deleteMessageButtonContainer
                    input.deleteMsgButton(type='submit' value='Delete')
